{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}

{% endblock search-bar %}

{% block content %}

<h2>search</h2>

<h4> Searching by {{city}} <h4>

<form method="get" action="{% url "rooms:search" %}">
    <div>
        <label for="city">City</label>
        <input value="{{city}}" id="city" name="city" placeholder="Search by city"></input>
    </div>
    <div>
        <label for="country">Country</label>
        <select id="country" name="country">
            {% for country in countries %}
                <option value="{{country.code}}" 
                {% if country.code == s_country %} selected {% endif %}>{{country.name}}</option>            
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="room_type">Room Type</label>
        <select id="room_type" name="room_type">
            <option value="0" {% if s_room_type == 0 %} selected {% endif %} >Any Kind</option>
            {% for room_type in room_types %}
                <option {% if room_type.pk == s_room_type %} selected {% endif %} value="{{room_type.pk}}">{{room_type.name}}</option>            
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="price">Price</label>
        <input value="{{price}}" id="price" name="price" placeholder="Search by Price"></input>
    </div>
    <div>
        <label for="guests">Guests</label>
        <input value="{{guests}}" id="guests" name="guests" placeholder="Search by Guests"></input>
    </div>
    <div>
        <label for="bedrooms">Bedrooms</label>
        <input value="{{bedrooms}}" id="bedrooms" name="bedrooms" placeholder="Search by Bedrooms"></input>
    </div>
    <div>
        <label for="beds">Beds</label>
        <input value="{{beds}}" id="beds" name="beds" placeholder="Search by Beds"></input>
    </div>
    <div>
        <label for="baths">Baths</label>
        <input value="{{baths}}" id="baths" name="baths" placeholder="Search by Baths"></input>
    </div>
    <div>
        <label for="instant">Instant Book Only ?</label>
        <input type="checkbox" id="instant" name="instant" {% if instant %} checked {% endif %} ></input>
    </div>
    <div>
        <label for="super_host">By Super Host Only ?</label>
        <input type="checkbox" id="super_host" name="super_host" {% if super_host %} checked {% endif %}  ></input>
    </div>
    <div>
        <h3>Amenities</h3>
            <ul>
                {% for amenity in amenities %}
                    <li>
                        <label for="a_{{amenity.pk}}">{{amenity.name}}</label>
                        <input 
                            id="a_{{amenity.pk}}" 
                            name="amenities" 
                            type="checkbox" 
                            value={{amenity.pk}} 
                            {% if amenity.pk|slugify in s_amenities %} checked {% endif %}
                        />
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Facilities</h3>
            <ul>
                {% for facility in facilities %}
                    <li>
                        <label for="f_{{facility.pk}}">{{facility.name}}</label>
                        <input 
                            id="f_{{facility.pk}}" 
                            name="facilities" 
                            type="checkbox" 
                            value={{facility.pk}} 
                            {% if facility.pk|slugify in s_facilities %} checked {% endif %} 
                        />
                    </li>
                {% endfor %}
            </ul>
        </div>
    <button>Search</button>

</form>

{% endblock content %}